/* custom fonts */

@font-face {
  font-family: Sen-regular;
  src: url('./assets/fonts/Sen-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Sen-bold;
  src: url('./assets/fonts/Sen-Bold.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Sen-extrabold;
  src: url('./assets/fonts/Sen-ExtraBold.ttf');
  font-weight: 700;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-weight: 400;
  font-family: 'Sen-regular', sans-serif !important;
  background-color: #F8F8F8 !important;
}

.main-container{
  display: flex;
  background-color: #F8F8F8;
}

img{
  height: 348px;
  width: 335px;
}

.sidebar{
  position: fixed;
  z-index: 99;
  min-height: 100vh !important;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background: #ffffff;
  color: #585858;
  height: 100vh;
}


.nav-toggle{
  display: flex;
}

.nav-links{
  padding-top: 10%;
}

.link{
 text-decoration: none;
}

.nav-icons{
  color: #585858;
}

.nav-text{
  color: #585858;
}

h1{
  font-size: 64px !important;
  font-family: 'Sen-bold', sans-serif !important;
}

h2{
  font-size: 36px !important;
  font-family: 'Sen-bold', sans-serif !important;
}

.quote{
  color: #AFAFAF;
}

.qual-date{
  text-transform: uppercase;
  font-size: 32px;
  color: #585858;
}

.qual-institute{
 text-transform: capitalize;
 color: #585858;
 font-size: 20px;
}

.qual-qual{
  font-size: 20px;
}

.content-halfWidth{
  margin-left: 300px;
  width: calc(100% - 300px)!important;
}

.content-fullWidth{
  margin-left: 45px;
  width: calc(100% - 45%)!important;
}